body
  font-family: 'Roboto', sans-serif
  color: #141414
  line-height: 1
  font-size: 14px
  background: #ffffff

.wrap
  padding-left: 12px
  padding-right: 12px
  box-sizing: border-box
  @media only screen and (min-width: 425px)
    padding-left: 20px
    padding-right: 20px
  @media only screen and (min-width: 768px)
    padding-left: 40px
    padding-right: 40px
  @media only screen and (min-width: 1680px)
    padding-left: 80px
    padding-right: 80px
    max-width: 1580px
    margin: 0 auto


//HEADER COMPONENT
.header
  padding-top: 24px
  padding-bottom: 24px

  &__wrap
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    text-align: center
    position: relative
    @media only screen and (min-width: 768px)
      width: 100%
      justify-content: flex-start
      text-align: left
      align-items: center

  &__logo
    width: 100%
    @media only screen and (min-width: 768px)
      width: auto
      padding-right: 40px
      box-sizing: border-box
      margin-top: 8px
    @media only screen and (min-width: 1280px)
      width: 315px


    &-name
      margin: 0

    &-description
      font-size: 10px
      opacity: 0.65
      max-width: 200px
      margin: 0 auto
      @media only screen and (min-width: 768px)
        margin-left: 0
        font-size: 12px

  &__actions
    display: none
    @media only screen and (min-width: 768px)
      display: flex
      width: 25%
    @media only screen and (min-width: 1280px)
      width: 315px
      margin-right: auto

  &__action
    @media only screen and (min-width: 768px)
      display: inline-flex
      padding: 12px 24px
      border-radius: 50px
      box-sizing: border-box
      border: 1px solid #FF006C
      font-size: 14px
      text-decoration: none
      color: #141414

  &__contacts
    display: none
    @media only screen and (min-width: 1024px)
      display: flex
      align-items: center

  &__phone
    @media only screen and (min-width: 1024px)
      display: flex
      align-items: center
      text-decoration: none

    &-number
      display: inline-flex
      margin-right: 12px
      color: #141414
      font-size: 14px
      font-family: 'Roboto Slab', sans-serif
      letter-spacing: 0.5px
      @media only screen and (min-width: 1440px)
        font-size: 16px

    &-icon
      margin: 0

  &__personal
    position: absolute
    top: -8px
    left: 0
    @media only screen and (min-width: 768px)
      position: relative
      top: 0
      margin-right: 40px
      margin-left: auto

  &__cart
    &-icon
      margin: 0

    &-num
      position: absolute
      top: -4px
      right: -16px
      background: #FF006C
      color: #ffffff
      font-size: 12px
      width: 24px
      height: 24px
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      border-radius: 50px
      padding: 4px
      text-align: center
      font-weight: 600
      font-family: 'Roboto Slab', sans-serif
      letter-spacing: 0.5px
      @media only screen and (min-width: 1440px)
        font-size: 14px
        width: 28px
        height: 28px
        top: -8px
        right: -20px

  &__menu
    position: absolute
    top: -8px
    right: 0
    @media only screen and (min-width: 768px)
      position: relative
      top: 0
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: flex-start
      margin-left: auto

    &-icon
      margin: 0

    &-text
      font-size: 12px
      font-family: 'Roboto Slab', sans-serif
      @media only screen and (min-width: 768px)
        padding-left: 12px
        box-sizing: border-box
        font-size: 14px
      @media only screen and (min-width: 1440px)
        font-size: 16px


//TRIGGERS COMPONENT
.triggers
  background: #E8EDF1
  padding-top: 20px
  padding-bottom: 20px

  &__wrap
    border-top: 1px solid #C5CDD3
    border-bottom: 1px solid #C5CDD3
    padding-top: 48px
    padding-bottom: 48px

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: flex-start
    @media only screen and (min-width: 1440px)
      margin-left: -20px
      margin-right: -20px

  &__item
    display: flex
    flex-wrap: wrap
    justify-content: center
    text-align: center
    max-width: 420px
    @media only screen and (min-width: 1024px)
      width: calc(100% / 3)
      padding-left: 24px
      padding-right: 24px
      box-sizing: border-box
    @media only screen and (min-width: 1440px)
      width: calc(100% / 3 - 40px)
      justify-content: flex-start
      text-align: left
      margin-left: 20px
      margin-right: 20px

    &:not(:last-child)
      margin-bottom: 60px
      @media only screen and (min-width: 1024px)
        margin-bottom: 0

    &-icon
      margin: 0
      @media only screen and (min-width: 1440px)
        width: 80px

      & picture
        display: inline-flex
        justify-content: center
        align-items: center
        position: relative

        &:before
          background: #FF006C
          border-radius: 50px
          width: 32px
          height: 32px
          position: absolute
          top: -10px
          left: -20px
          content: ''
          display: block
          z-index: 0

        & img
          position: relative
          z-index: 1

    &-info
      margin-top: 24px
      width: 100%
      @media only screen and (min-width: 1440px)
        width: calc(100% - 80px)
        margin-top: 0
        padding-left: 12px
        box-sizing: border-box
        padding-right: 24px

    &-name
      font-weight: 500
      font-size: 14px
      margin-bottom: 8px
      font-family: 'Roboto Slab', sans-serif
      @media only screen and (min-width: 1440px)
        font-size: 16px

    &-text
      font-size: 12px
      margin-bottom: 12px
      opacity: 0.7
      line-height: 1.5
      @media only screen and (min-width: 1440px)
        font-size: 14px

    &-link
      display: inline
      font-size: 12px
      color: #FF006C
      @media only screen and (min-width: 1440px)
        font-size: 14px


//CATALOG COMPONENT
.catalog
  &__top
    padding-top: 40px
    padding-bottom: 40px
    @media only screen and (min-width: 1024px)
      padding-top: 80px
    @media only screen and (min-width: 1440px)
      padding-top: 120px
      padding-bottom: 120px

    &-title
      font-size: 24px
      text-transform: uppercase
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      margin-bottom: 24px
      @media only screen and (min-width: 1024px)
        font-size: 40px
      @media only screen and (min-width: 1440px)
        font-size: 60px

  &__page
    &-wrap
      @media only screen and (min-width: 1280px)
        width: 100%
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: flex-start
        flex-direction: row-reverse

  &__sections
    margin-bottom: 80px
    padding-top: 32px
    box-sizing: border-box
    @media only screen and (min-width: 1280px)
      width: calc(100% - 300px - 80px)
      margin-left: 40px
      padding-top: 40px

    &-list
      @media only screen and (min-width: 568px)
        margin-left: -20px
        margin-right: -20px
        display: flex
        flex-wrap: wrap
        justify-content: flex-start
        align-items: flex-start

  &__section
    @media only screen and (min-width: 568px)
      width: calc(100% / 2 - 40px)
      margin-left: 20px
      margin-right: 20px
    @media only screen and (min-width: 1024px)
      width: calc(100% / 3 - 40px)

    &:not(:last-child)
      margin-bottom: 80px
      @media only screen and (min-width: 768px)
        margin-bottom: 120px

    &-link
      display: block

    &-image
      margin: 0
      background: #eeeeee
      position: relative

      &:before
        position: absolute
        left: 16px
        right: 16px
        top: -16px
        border-radius: 8px
        background: #FF006C
        z-index: 0
        content: ''
        display: block
        height: 100%

      & picture
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        width: 100%
        padding-top: 50%
        background-color: #ffffff
        position: relative
        box-sizing: border-box
        z-index: 1
        border-radius: 4px
        overflow: hidden

        & img
          width: 100%
          height: 100%
          object-fit: cover
          position: absolute
          top: 0
          left: 0

    &-content
      padding-left: 16px
      padding-right: 16px
      box-sizing: border-box
      margin-top: 24px
      @media only screen and (min-width: 425px)
        padding-left: 40px
        padding-right: 40px
      @media only screen and (min-width: 568px)
        padding-left: 16px
        padding-right: 16px
      @media only screen and (min-width: 1280px)
        padding-left: 40px
        padding-right: 40px

    &-title
      font-size: 20px
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      text-decoration: none
      color: #141414

    &-list
      margin-top: 24px

    &-item
      line-height: 1.5

      &:not(:last-child)
        margin-bottom: 12px

      & a
        color: #141414
        font-size: 13px
        opacity: 0.65
        padding: 2px 0

    &-count
      font-size: 11px
      opacity: 0.3

      &:before
        content: '('

      &:after
        content: ')'


  &__aside
    @media only screen and (min-width: 1280px)
      width: 300px
      margin-right: 40px

  &__reviews
    padding-top: 40px
    box-sizing: border-box

    &-list
      @media only screen and (min-width: 768px)
        display: flex
        flex-wrap: wrap
        margin-left: -20px
        margin-right: -20px

    &-head
      display: flex
      flex-wrap: wrap
      width: 100%

    &-title
      font-size: 16px
      text-transform: uppercase
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      margin-bottom: 24px
      position: relative
      width: 100%
      @media only screen and (min-width: 1280px)
        font-size: 24px

      &:after
        width: 100%
        height: 1px
        content: ''
        display: inline-flex
        position: relative
        z-index: 0
        background: #FF006C

    &-list

  &__review
    @media only screen and (min-width: 768px)
      width: calc(100% / 2 - 40px)
      margin-left: 20px
      margin-right: 20px
    @media only screen and (min-width: 1024px)
      width: calc(100% / 3 - 40px)
    @media only screen and (min-width: 1280px)
      width: 100%

    &:not(:last-child)
      margin-bottom: 40px

    &-mark
      margin: 0 0 4px

    &-head
      margin-bottom: 12px

    &-name
      font-size: 14px
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif

    &-date
      font-size: 12px
      opacity: 0.3
      margin-top: 8px

    &-text
      font-size: 14px
      opacity: 0.65
      line-height: 1.75

  &__items
    display: flex
    flex-wrap: wrap
    margin-left: -12px
    margin-right: -12px

  &__item
    margin: 12px
    padding: 12px
    border: 1px solid #eeeeee
    box-sizing: border-box
    width: 100%
    display: flex
    flex-wrap: wrap
    @media only screen and (min-width: 414px)
      width: calc(100% / 2 - 24px)
    @media only screen and (min-width: 768px)
      width: calc(100% / 3 - 24px)
      padding: 20px
    @media only screen and (min-width: 1024px)
      width: calc(100% / 4 - 24px)
    @media only screen and (min-width: 1280px)
      width: calc(100% / 5 - 24px)

    &-wrap
      display: flex
      flex-wrap: wrap
      height: 100%
      width: 100%

    &-image-link
      display: block

    &-figure
      margin: 0
      background: #eeeeee
      width: 100%

      & picture
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        width: 100%
        padding-top: 100%
        background-color: #ffffff
        position: relative
        box-sizing: border-box

        & img
          width: 100%
          height: 100%
          object-fit: contain
          position: absolute
          top: 0
          left: 0

    &-info
      margin-top: 16px
      width: 100%
      margin-bottom: 8px
      @media only screen and (min-width: 1280px)
        margin-top: 24px

    &-title
      font-size: 13px
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      line-height: 1.25

      &-link
        display: block

    &-actions
      display: flex
      flex-wrap: wrap
      align-items: center
      justify-content: space-between
      margin-top: 16px
      width: 100%

    &-oldprice
      font-size: 12px
      opacity: 0.65

    &-curprice
      font-size: 14px
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      color: #FF006C
      @media only screen and (min-width: 768px)
        font-size: 16px
      @media only screen and (min-width: 1280px)
        font-size: 18px

    &-addtocart
      display: inline-flex
      padding: 8px 16px
      text-align: center
      justify-content: center
      box-sizing: border-box
      border-radius: 50px
      border: 1px solid #FF006C
      font-size: 10px
      @media only screen and (min-width: 768px)
        font-size: 12px


//SECTIONS COMPONENT
.sections
  padding-top: 40px
  padding-bottom: 40px
  box-sizing: border-box
  @media only screen and (min-width: 1024px)
    padding-top: 80px
  @media only screen and (min-width: 1440px)
    padding-top: 120px
    padding-bottom: 120px

  &__wrap

  &__info
    margin-bottom: 24px

    &-title
      font-size: 24px
      text-transform: uppercase
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      @media only screen and (min-width: 1024px)
        font-size: 40px
      @media only screen and (min-width: 1440px)
        font-size: 60px

    &-text
      font-size: 14px
      opacity: 0.65
      line-height: 1.5
      margin-top: 12px

  &__list
    margin-left: -12px
    margin-right: -12px
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: flex-start
    @media only screen and (min-width: 1024px)
      margin-left: -20px
      margin-right: -20px

  &__item
    @media only screen and (min-width: 568px)
      width: calc(100% / 2 - 24px)
      margin: 12px
    @media only screen and (min-width: 1024px)
      width: calc(100% / 3 - 40px)
      margin: 40px 20px
    @media only screen and (min-width: 1280px)
      width: calc(100% / 4 - 40px)

    &-figure
      margin: 0
      background: #eeeeee
      border-radius: 4px
      overflow: hidden

      & picture
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        width: 100%
        padding-top: 70%
        background-color: #ffffff
        position: relative
        box-sizing: border-box

        & img
          width: 100%
          height: 100%
          object-fit: cover
          position: absolute
          top: 0
          left: 0

    &-info
      padding: 16px
      box-sizing: border-box
      @media only screen and (min-width: 414px)
        margin-top: 8px

    &-title
      font-size: 16px
      font-weight: 500
      font-family: 'Roboto Slab', sans-serif
      @media only screen and (min-width: 1280px)
        font-size: 18px
        line-height: 1.5

      & a
        text-decoration: none
        color: #141414

    &-count
      font-size: 12px
      opacity: 0.65
      font-weight: 400
      font-family: 'Roboto', sans-serif

    &-text
      margin-top: 12px
      font-size: 14px
      opacity: 0.65
      line-height: 1.5


.products
  & .catalog__item
    @media only screen and (min-width: 768px)
      width: calc(100% / 3 - 24px)
      padding: 20px
    @media only screen and (min-width: 1024px)
      width: calc(100% / 3 - 24px)
    @media only screen and (min-width: 1280px)
      width: calc(100% / 4 - 24px)

  &__wrap
    @media only screen and (min-width: 768px)
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      align-items: flex-start

  &__section
    @media only screen and (min-width: 768px)
      width: calc(100% - 200px - 80px)
      margin-left: 40px
    @media only screen and (min-width: 1280px)
      width: calc(100% - 300px - 80px)

  &__list
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    align-items: stretch
    margin-left: -12px
    margin-right: -12px

  &__aside
    @media only screen and (min-width: 768px)
      width: 200px
      margin-right: 40px
    @media only screen and (min-width: 1280px)
      width: 300px

.product
  &__image
    & picture
      display: flex
      flex-wrap: wrap
      justify-content: center
      align-items: center
      width: 100%
      height: 100%
      padding: 16px
      box-sizing: border-box

      & img
        max-width: 100%
        max-height: 100%
        display: block

  &__thumbs
    display: flex

  &__thumb
    width: 80px
    height: 80px

    &:not(:last-child)
      margin-right: 12px

    &-image
      margin: 0
      display: block
      width: 100%
      height: 100%
      border: 1px solid #eeeeee

      & picture
        display: flex
        flex-wrap: wrap
        justify-content: center
        align-items: center
        width: 100%
        height: 100%
        padding: 8px
        box-sizing: border-box
        @media only screen and (min-width: 768px)
          padding: 16px

        & img
          max-width: 100%
          max-height: 100%
          display: block

  &__content
    margin-top: 60px

  &__category
    text-align: center

    &-text
      opacity: 0.5
      font-size: 12px
      margin-bottom: 2px

    &-title
      color: #fe2c6c
      font-size: 16px
      text-transform: uppercase
      border-bottom: 1px solid
      display: inline-block
      padding: 2px

  &__price
    margin-top: 40px
    text-align: center

    &-current
      font-weight: 500
      font-family: 'Roboto Slab', serif
      color: #FF006C
      font-size: 40px

  &__action
    margin-top: 40px

  &__action
    background: #ff006c
    color: #ffffff
    font-size: 18px
    font-weight: 500
    font-family: 'Roboto Slab', sans-serif
    display: inline-flex
    border-radius: 50px
    padding: 14px 24px
    text-decoration: none
    width: 100%
    max-width: 320px
    box-sizing: border-box
    align-items: center
    justify-content: space-between

    &:before
      display: inline-flex
      width: 8px
      height: 8px
      background: #ffffff
      border-radius: 50%
      content: ''

    &:after
      display: inline-flex
      width: 8px
      height: 8px
      background: #ffffff
      border-radius: 50%
      content: ''

  &__info
    margin-top: 60px

    &-title
      font-family: 'Roboto Slab', sans-serif
      font-weight: 500
      text-transform: uppercase
      font-size: 16px
      border-bottom: 1px solid #FF006C
      padding-bottom: 4px
      margin-bottom: 20px
      text-align: center

    &-item
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      border-bottom: 1px dotted #dcdcdc

      &:not(:last-child)
        margin-bottom: 20px

    &-prop
      opacity: 0.65
      font-size: 14px

    &-value
      font-size: 14px